{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="static/css/styles.css">
{% endblock %}


{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>
<div class="table-responsive">
	  <table class="table table-hover">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
          <thead>
            <tr>
                {% for item in cafes[0] %}
                    <th scope="col">{{item}}</th>
                {% endfor %}

            </tr>
          </thead>

          <tbody>
          {% for item in cafes[1:] %}
            <tr>
                    {% for row in item %}
                        {% if row == item[1] %}
                            <td scope="row"><a href="{{row}}" target="_blank">Map Link</a></td>
                        {% else %}
                            <td scope="row">{{row}}</td>
                        {% endif %}


                    {% endfor %}
            </tr>
          {% endfor %}
          </tbody>

  	  </table>
</div>

      <p><a href=  "{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
